<web-app>
<servlet>
<servlet-name>ID1</servlet-name>
<servlet-class>DatabaseAccessCred</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ID1</servlet-name>
<url-pattern>/ID1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>In1</servlet-name>
<servlet-class>InsertCred</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>In1</servlet-name>
<url-pattern>/In1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>In2</servlet-name>
<servlet-class>InsertDet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>In2</servlet-name>
<url-pattern>/In2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ID2</servlet-name>
<servlet-class>DisplayQuiz</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ID2</servlet-name>
<url-pattern>/ID2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ID3</servlet-name>
<servlet-class>DisplayScore</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ID3</servlet-name>
<url-pattern>/ID3</url-pattern>
</servlet-mapping>
</web-app>